.header {
  width: 100vw;
  height: 56px;
}

.header .logo_text {
  margin-left: 20px;
  font-size: 50px;
  color: #CD0F19;
  font-family: 'GmarketSansBold';
}

@media screen and (max-width: 767px) {
  .header .logo_text {
    font-size: 30px;
  }
}

.header .logo_text span {
  color: black;
}

.header header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 87px;
  -webkit-transition: .5s;
  transition: .5s;
  border-bottom: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3E60DE;
  z-index: 999;
}

.header header .logo {
  margin-left: 30px;
  cursor: pointer;
}

.header header img {
  height: 40px;
}

.header header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0px;
}

.header header nav .navi_menu li .sub_header_text {
  font-size: 14px;
}

.header header nav .navi_menu li div {
  font-family: 'GmarketSansMedium';
}

@media screen and (max-width: 1025px) {
  .header header nav {
    margin: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.header header nav #mobile_nav {
  display: none;
}

.header header nav .mobile_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30px;
  cursor: pointer;
}

.header header nav .mobile_btn span {
  display: none;
  width: 30px;
  height: 3px;
}

@media screen and (max-width: 1025px) {
  .header header nav .mobile_btn span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
  }
}

.header header nav #mobile_nav ~ .navi_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 30px;
  cursor: pointer;
  background: nones;
}

@media screen and (max-width: 1025px) {
  .header header nav #mobile_nav ~ .navi_menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    height: 100vh;
    top: 0px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.header header nav #mobile_nav ~ .navi_menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  font-weight: 300;
  padding: 30px 10px;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .header header nav #mobile_nav ~ .navi_menu li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

.header header nav #mobile_nav ~ .navi_menu li label span {
  display: none;
  width: 30px;
  height: 3px;
  background: white;
  cursor: pointer;
}

.header header nav #mobile_nav:checked ~ .navi_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  left: 0;
  top: 0;
  height: 100%;
}

@media screen and (max-width: 1025px) {
  .header header nav #mobile_nav:checked ~ .navi_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    white: 100%;
    height: 100vh;
    background: gray;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.header header nav #mobile_nav:checked ~ .navi_menu li {
  font-size: 20px;
  font-weight: 300;
  padding: 30px 10px;
  margin: 0;
}

.header header nav #mobile_nav:checked ~ .navi_menu li .mobileclose {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 0;
  margin-right: 30px;
}

.header header nav #mobile_nav:checked ~ .navi_menu li .mobileclose span {
  display: none;
}

@media screen and (max-width: 1025px) {
  .header header nav #mobile_nav:checked ~ .navi_menu li .mobileclose span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    top: 13px;
    margin-right: 30px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.header header nav #mobile_nav:checked ~ .navi_menu li .mobileclose span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header header nav #mobile_nav:checked ~ .navi_menu li label {
  position: relative;
}
/*# sourceMappingURL=header.css.map */