.foreignerform{
    width: 100%;
    margin-top: 0px;
    .submit_btn{
        cursor: pointer;
    }
    .form_data{
        .language_type{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 30px 0 0px;
            cursor: pointer;
            
            .language_type_inner{
                width: 320px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 30px;
                height: 110px;
                cursor: pointer;
                pointer-events: none;
                img{
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                }
            }
        }
        .form_warp{
            .displaynone{
                display: none;
            }
            .visa_label{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 80vw;
                height: 70px;
                border-radius: 10px;
                border: 1px solid black;
                label{
                    cursor: pointer;
                    font-size: 25px;
                    font-family: GmarketSansMedium;
                    @media screen and (max-width: 420px) {
                        font-size: 18px;
                    }
                }
            }
            .language_label{
                display: flex;
                align-items: flex-start;
                width: 80vw;
                div{
                    width:100%;
                    label{
                        display: flex;
                        align-items: center;
                        height: 66px;
                    }
                }
            }
            .sex_warp{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 80vw;
                .sexitem{
                    display: flex;
                    .sex_box.first{
                        margin-right: 30px;
                    }
                    .sex_box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        .sex_text {
                            margin-bottom: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            min-width: 50px;
                            height: 100%;
                        }
                    }
                }
            }
            .input_text.field {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                width: 80vw;
                .Field_label {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 600px;
                    .field_warp {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 300px;
                        input{
                            max-width: 30px;
                        }
                        .fieldlabel {
                            flex-direction: row;
                            width: 300px;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}