@mixin flexPosition {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes mainborder {
    0% {
        border: 3px solid pink;
    }

    100% {
        border: 3px solid thistle;
    }
}

.visa_warp{
    margin-top: 30px;
    .visa_cards{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 10px;
        width: 100%;
        background: white;
        .background_img.first {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url('../../../img/first.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: .5;
            z-index: -1;
        }
        .background_img.secound {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            opacity: .5;
            z-index: -1;
            background: url('../../../img/secound.png');
        }
        .background_img.third {
           position: absolute;
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
           background-repeat: no-repeat;
           background-position: center center;
           background-size: cover;
           opacity: .5;
           z-index: -1;
            background: url('../../../img/third.png');
        }
    }
    .visa_cards::after {
        @media screen and(max-width: 1025px) {
            content: '';
            position: fixed;
            top: 0px;
            left: 0;
            width: 100%;
            height: 137px;
            background: white;
            z-index: 1;
        }
    }
    
    .about_warp {
        margin: 0 auto;
        max-width: 1440px;
        
        .about_inner {
            display: flex;
            margin-top: 20px;
            padding: 0 20px;

            @media screen and(max-width: 1025px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .aboutbanner {
                @include flexPosition;
                flex: 1.5;
                width: 100%;
                height: 100%;
                bottom: 0;
                border-radius: 10px;
                overflow: hidden;
                transform: translateY(0px);
                transition: 1s;
                z-index: 10;
                
                @media screen and(max-width: 1025px) {
                    position: fixed;
                    top: 130px;
                    transform: translateY(0px) !important;
                    width: 622px;
                    box-sizing: border-box;
                    background: white;

                }

                @media screen and(max-width: 700px) {
                    transform: translateY(0px) !important;
                    width: 275px;
                    padding: 10px 10px;
                }

                .careerdata {
                    width: 350px;
                    margin-bottom: 20px;
                    padding: 5% 20px;
                    @media screen and(max-width: 1025px) {
                        width: 100%;
                        text-align: center;
                    }

                    .aboutdata_inner {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px 0px;
                        margin: 10px 0;
                        border-radius: 10px;
                        width: 350px;
                        box-sizing: border-box;
                        @media screen and(max-width: 1025px) {    
                            width: 100%;
                            padding: 20px 20px;
                        }
                        @media screen and(max-width: 700px) {
                            width: 250px;
                            padding: 20px 0px;
                        }
                        
                        .position {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            justify-content: space-around;
                            @media screen and(max-width: 700px) {
                                font-size: 12px;
                                padding: 0px 10px;
                            }
                            
                            div {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                
                                button {
                                    min-width: 70px;
                                    margin-bottom: 10px;
                                    border-radius: 15px;
                                    width: 120px;
                                    padding: 5px;
                                    background: white;
                                }
                            }
                        }
                    }
                    .aboutdata_inner.first {
                        cursor:pointer;
                        .first {
                            border-bottom: 5px solid blue;
                        }
                    }

                    .aboutdata_inner.secound {
                        cursor:pointer;
                        .secound {
                            border-bottom: 5px solid blue;
                        }
                    }

                    .aboutdata_inner.third {
                        cursor:pointer;
                        .third {
                            border-bottom: 5px solid blue;
                        }
                    }
                    @media screen and(max-width: 700px) {
                        .aboutdata_inner::after{
                            font-size: 20px;
                        }
                        .aboutdata_inner.first::after {
                            content: 'E (취업비자)';
                            position: absolute;
                            height: 30px;
                            bottom: 15px;
                            left: 29%;
                        }
                        .aboutdata_inner.secound::after {
                            content: 'D (학생비자)';
                            position: absolute;
                            height: 30px;
                            bottom: 15px;
                            left: 29%;
                        }
                        .aboutdata_inner.third::after {
                            content: 'F (거주비자)';
                            position: absolute;
                            height: 30px;
                            bottom: 15px;
                            left: 29%;
                        }
                    }
                }
            }
            
            .aboutcards {
                flex: 2;
                margin-left: 20px;

                @media screen and(max-width: 1025px) {
                    margin-left: 0;
                    margin-top: 200px;
                    width: 620px;
                }

                @media screen and(max-width: 700px) {
                    margin-top: 200px;
                    width: 270px;
                }
                
                .aboutcard {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border-radius: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    margin-bottom: 30px;
                    margin: 10px;
                    
                    h3 {
                        margin-bottom: 20px;
                    }
                    
                    .subdata {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 0;
                        
                        button {
                            border-radius: 15px;
                            width: 120px;
                            padding: 5px;
                            background: white;
                            margin-top: 0px;
                            
                            @media screen and(max-width: 767px) {
                                margin-top: 10px;
                            }
                        }
                    }
                    
                    .subdata:first-child {
                        margin-top: 0;
                    }
                    
                    .subdata:last-child {
                        margin-bottom: 0;
                    }
                    
                    div {
                        display: flex;
                        @media screen and(max-width: 700px) {
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                        div{
                            margin-bottom: 10px;
                            display: flex;
                        }
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            width: 200px;
                            padding-right: 20px;
                            box-sizing: border-box;
                            @media screen and(max-width: 700px) {
                                width: 100%;
                                padding-right: 0px;
                            }
                        }
                        img {
                            margin-right: 10px;
                            width: 15px;
                            box-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
                            -webkit-user-drag: none;
                        }
                    }
                    
                    .innertext {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        
                        div {
                            line-height: 25px;
                            text-indent: 5px;
                        }
                    }
                }
                
                .aboutcard:last-child {
                    margin: 0;
                }
            }
            
            .aboutcard.skills {
                animation: mainborder 2s infinite alternate-reverse;
            }
            
            .aboutcard.todo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0px 0px 10px;
                padding: 20px 0;
                box-sizing: border-box;
                @media screen and(max-width: 1025px) {
                    box-sizing: border-box;
                }
                .subtext{
                    width: 90%;
                    padding: 10px;
                    .subtext_warp{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-family: 'GmarketSansMedium';
                    }
                    div{
                        font-family: 'GmarketSansMedium';
                    }
                }
                
                .todowarp {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 0;
                    width: 600px;
                    padding: 10px;
                    div{
                        font-family: 'GmarketSansMedium';
                    }
                    
                    @media screen and(max-width: 700px) {
                        width: 250px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .visa_form_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 40px;
        background: #3E60DE;
        color: white;
        border-radius: 10px;
        width: 300px;
        height: 70px;
        margin: 100px auto;
        font-family: 'GmarketSansMedium';
    }
}