.footer_warp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    margin-top: 20px;
    background: gray;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
        font-family: 'GmarketSansNomal';
    }
}